# C:/Projetos/ndnm/ndnm-backend/.gitignore

# Rust/Cargo build artifacts
/target
Cargo.lock

# Pasta com os modelos de IA
/models/

# Arquivos de log
*.log

# Arquivos temporários de editores
*.swp
*.swo
*~
*.bak
*.rs.bk

# Arquivos de configuração de IDEs
.idea/
.vscode/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db

# --- Python Stuff (Nossa nova seção mágica!) ---
# Ignora todos os ambientes virtuais, não importa o nome
.venv/
*.venv/

# Ignora os arquivos de cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd